{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<div class="breadcumb-title"> 
						<h4>О нас</h4>
					</div>
					<ul>
						<li><a href="{% url "home" %}">Главная <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>О нас</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="breadcumb-shape">
			<img src="{% static 'images/inner-img/breadcumb-dot.png' %}" alt="dot">
		</div>
		<div class="breadcumb-shape2">
			<img src="{% static 'images/inner-img/breadcumb-ball.png' %}" alt="ball">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start educate About Area style-three -->
<!--==================================================-->
<section class="about-area style-three inner">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-12">
				<div class="about-thumb-wrapper">
					<div class="about-learn-box">
						<div class="about-learn-icon">
							<img src="{% static 'images/home-three/learn-icon.png' %}" alt="icon">
						</div>
						<div class="learn-title">
							<h5>Учитесь онлайн где угодно</h5>
						</div>
					</div>
					<div class="about-thumb">
						<img src="{% static 'images/home-three/about-thumb31.png' %}" alt="thumb">
					</div>
					<div class="about-experience-box">
						<div class="about-experience-count">
						<h3 class="counter">16</h3>
						<span>+</span>
						</div>
						<div class="about-experience-desc">
							<p>Лет<br>
								Опыта</p>
						</div>	
					</div>
					<div class="about-shape32">
						<img src="{% static 'images/home-three/about-shape32.png' %}" alt="shape">
					</div>
				</div>
			</div>	
			<div class="col-xl-6 col-lg-12">
				<div class="about_content">
					<!-- section title -->
					<div class="section-sub-title three">
						<h6>О НАС</h6>
					</div>
					<div class="section_title">
						<h1>Кто мы – Введение в</h1>
						<h1>Educate онлайн-платформу</h1>
					</div>
					<div class="section-title-desc">
						<p>Educate — конечный пункт назначения для искателей знаний и педагогов.
							 Мы стремимся преобразовать специальное образование, 
							 которое влияет на глобальные каналы без систем, соответствующих стандартам</p>
					</div>
					<div class="about-iteam-list">
						<ul>
							<li><img src="{% static 'images/home-three/about-icon31.png' %}" alt="icon">Каталог курсов & информация о программе</li>
							<li><img src="{% static 'images/home-three/about-icon31.png' %}" alt="icon">Онлайн-подача заявлений & процесс приема</li>
							<li><img src="{% static 'images/home-three/about-icon31.png' %}" alt="icon">Финансовая помощь и стипендии</li>
						</ul>
					</div>
					<div class="about-iteam-phone">
						<p><span><img src="{% static 'images/home-three/about-call.png' %}" alt="call"></span>{{ settings.phone }}</p>
					</div>
					
					<div class="about-education-box">
						<div class="education-content">
							<p>Надежные онлайн и офлайн образовательные услуги</p>
							<span>Скала Джонсон</span>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="about-shape31">
			<img src="{% static 'images/home-three/about-shape31.png' %}" alt="shape">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate About Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start educate feature Area style-two -->
<!--==================================================-->
<section class="feature-area style-two">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-feature-box box-1">
					<div class="feature-icon">
						<img src="{% static 'images/home-three/feature-icon21.png' %}" alt="feature-icon">
					</div>
					<div class="feature-content">
						<h4 class="feature-title">Стипендиальный фонд</h4>
						<p class="feature-desc">Абсолютные знания о месте назначения
							Мы стремимся учиться</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-feature-box box-2">
					<div class="feature-icon">
						<img src="{% static 'images/home-three/feature-icon22.png' %}" alt="feature-icon">
					</div>
					<div class="feature-content">
						<h4 class="feature-title">Книжный магазин</h4>
						<p class="feature-desc">Абсолютные знания о месте назначения
							Мы стремимся учиться</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-feature-box box-3">
					<div class="feature-icon">
						<img src="{% static 'images/home-three/feature-icon23.png' %}" alt="feature-icon">
					</div>
					<div class="feature-content">
						<h4 class="feature-title">Легкое онлайн-обучение</h4>
						<p class="feature-desc">Абсолютные знания о месте назначения
							Мы стремимся учиться</p>
					</div>
				</div>
			</div>
		</div>
		<div class="feature-shape21">
			<img src="{% static 'images/home-three/feature-shape21.png' %}" alt="shape">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate feature Area-->
<!--==================================================-->

<!--==================================================-->
<!-- Start educate course design offer Area -->
<!--==================================================-->
<div class="course-design-offer-area style-one inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="course-design-thumb">
					<img src="{% static 'images/home-one/offer-video.png' %}" alt="thumb">
					<div class="course-video-icon">	
						<a class="video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="{{ video.url }}"><i class="fa-classic fa-solid fa-play fa-fw"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="single-course-offer-box">
					<div class="course-offer-content">
						<h6>{{ course.category }}</h6>
						<h4>{{ course.title }}</h4>
						<div class="offer-rating">
							<ul>
								{% for _ in course.full_stars %}
									<li><i class="fa-solid fa-star" style="color: orange;"></i></li>
								{% endfor %}
								{% if course.half_star %}
									<li><i class="fa-solid fa-star-half-stroke" style="color: orange;"></i></li>
								{% endif %}
								{% for _ in course.empty_stars %}
									<li><i class="fa-regular fa-star" style="color: orange;"></i></li>
								{% endfor %}
							</ul>
							<div class="offer-rating-rate">
								<span>{{ course.rating }}</span>
							</div>
							<div class="course-offer-price">
								<span>{{ course.price }} <del>15000,00</del></span>
							</div>
						</div>
						<div class="course-offer-btn">
							<a href="{{ course.get_absolute_url }}">ПОДРОБНЕЕ<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
						<div class="course-offer-discount">
							<h5>{{ course.discount_percent }}%</h5>
						</div>
					</div>
					<div class="offer-thumb">
						<img src="{% static 'images/home-one/offer-thumb.png' %}" alt="thumb">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate course design offer Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start educate call to action Area style-two -->
<!--==================================================-->
	<div class="call-to-action style-two">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="call-to-title">
						<h3>Ваше обучению начинается здесь</h3>
						<h3>Узнайте про все программы</h3>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="call-to-btn">
						<a href="{% url "course" %}">Все программы<i class="flaticon flaticon-right-arrow"></i></a>
					</div>
				</div>
			</div>
			<div class="call-to-shape31">
				<img src="{% static 'images/home-three/call-to-arrow2.png' %}" alt="shape">
			</div>
		</div>
	</div>
<!--==================================================-->
<!-- end educate call to action Area style-two -->
<!--==================================================-->

<!--==================================================-->
<!-- Start educate team Area -->
<!--==================================================-->
<div class="team-area style-one inner">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title three">
					<h6><img src="{% static 'images/inner-img/sub-title2.png' %}" alt="icon">Менторы</h6>
				</div>
				<div class="section_title">
					<h1>Знакомство с педагогами и</h1>
					<h1>профессиональными инструкторами</h1>
				</div>
			</div>
		</div>
		<div class="row">
			{% for inst in instructor %}
				<div class="col-xl-4 col-lg-6 col-md-6">
					<div class="single-team-box box-1">
						<div class="team-thumb">
							<img src="{{ inst.photo.url }}" alt="thumb">
							
						</div>
						<div class="team-content">
							<div class="team-title">
								<h3><a href="{{ inst.get_absolute_url }}">{{ inst.name }}</a></h3>
							</div>
							<div class="team-sub-title">
								<h5>{{ inst.position }}</h5>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate team Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start educate testimonial Area -->
<!--==================================================-->
<div class="testimonial-area style-inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<!-- section title -->
				<div class="section-sub-title two">
					<h6><img src="{% static 'images/home-two/subtitle-icon.png' %}" alt="icon">Университет Educate</h6>
				</div>
				<div class="section_title two">
					<h1>За них говорит</h1>
					<h1>Опыт</h1>
				</div>
				<div class="section-title-desc two">
					<p>Объединяя богатую историю, этот колледж поощряет
						академические и развивающие мета-услуги архитектора посредством
						доски обмена мыслями</p>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="testi-list2 owl-carousel">
						{% for rev in reviews %}
							<div class="col-lg-12">
								<div class="single-testi-box">
									<div class="testi-quote">
										<img src="{% static 'images/home-two/quote-icon21.png' %}" alt="quote">
									</div>
									<div class="testi-desc">
										<p>{{ rev.desc }}</p>
									</div>
									<div class="testi-ratting">
										<ul>
											{% for _ in reviews.full_stars %}
												<li><i class="fa-solid fa-star" style="color: orange;"></i></li>
											{% endfor %}
											{% if reviews.half_star %}
												<li><i class="fa-solid fa-star-half-stroke" style="color: orange;"></i></li>
											{% endif %}
											{% for _ in reviews.empty_stars %}
												<li><i class="fa-regular fa-star" style="color: orange;"></i></li>
											{% endfor %}
										</ul>
									</div>
								</div>
								<div class="testi-autor-box">
									<div class="testi-autor">
										<img src="{{ rev.photo.url }}" alt="autor">
									</div>
									<div class="testi-autor-content">
										<h5 class="autor-title">{{ rev.name }}</h5>
										<p class="autor-desi">{{ rev.who_say }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="testi-plus-shape">
			<img src="{% static 'images/home-two/testi-shape.png' %}" alt="plus-shape">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate testimonial Area -->
<!--==================================================-->

<!--==================================================-->
<!-- start educate brand Area -->
<!--==================================================-->
<div class="brand-area style-one inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="brand-list2 owl-carousel">
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
							   <img src="{% static 'images/home-three/brand-img1.png' %}" alt="brand">
							</div>
						</div>
					</div>				    
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="{% static 'images/home-three/brand-img2.png' %}" alt="brand">
							</div>
						</div>
					</div>				   
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="{% static 'images/home-three/brand-img3.png' %}" alt="brand">
							</div>
						</div>
					</div>	
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="{% static 'images/home-three/brand-img4.png' %}" alt="brand">
							</div>
						</div>
					</div>	
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="{% static 'images/home-three/brand-img5.png' %}" alt="brand">
							</div>
						</div>
					</div>				    				    			    
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate brand Area -->
<!--==================================================-->
{% endblock content %}