{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>Проверка</h4>
					</div>
					<ul>
						<li><a href="{% url "home" %}">Главная <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>Проверка</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="breadcumb-shape">
			<img src="{% static 'images/inner-img/breadcumb-dot.png' %}" alt="dot">
		</div>
		<div class="breadcumb-shape2">
			<img src="{% static 'images/inner-img/breadcumb-ball.png' %}" alt="ball">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Product Section Start checkout-->
<!--==================================================-->
<div class="shop-product-section">
	<div class="container">
		<form action="checkout.html#" class="checkout-form">
			<div class="row g-4">

				<div class="col-lg-7">

					<!-- Checkout Summary Start -->
					<div class="checkout-box">
						<h4 class="mb-4">Корзина</h4>

						<table class="checkout-summary-table table table-borderless">
							<thead>
								<tr>
									<th>Курс</th>
									<th>Стоимость</th>
								</tr>
							</thead>
							<tbody>
								{% for item in cart %}
								<tr>
									<td>{{ item.course.title }} × {{ item.quantity }}</td>
									<td>{{ item.total_price }} сом</td>
								</tr>
								{% empty %}
								<tr>
									<td colspan="2">Ваша корзина пуста</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th class="border-top">Итого</th>
									<th class="border-top">{{ cart.get_total_price }} сом</th>
								</tr>
							</tfoot>
						</table>
					</div>

					<!-- Checkout Summary End -->

					<!-- Payment Method Start -->
					
					<!-- Payment Method End -->

				</div>

				<div class="col-lg-5">
					<div class="checkout-box">

						<h4 class="mb-4">Метод оплаты</h4>

						<div class="checkout-payment-method">

							<div class="single-method form-check">
								<input class="form-check-input" type="radio" id="payment_bank" name="payment-method">
								<label class="form-check-label" for="payment_bank">Прямой банковский перевод</label>
							</div>

							<div class="single-method form-check">
								<input class="form-check-input" type="radio" id="payment_card" name="payment-method">
								<label class="form-check-label" for="payment_card">Оплата картой</label>
							</div>

							<div class="single-method form-check">
								<input class="form-check-input" type="checkbox" id="accept_terms">
								<label class="form-check-label mb-4" for="accept_terms">Я прочитал(а) и принимаю условия и положения</label>
							</div>

						</div>

						<a href="#" 
							style="background-color: #1ec28e; border-radius: 55px; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;"
							class="btn btn-dark btn-primary-hover rounded-0 mt-6"
							data-bs-toggle="modal" data-bs-target="#paymentModal">
							Оплатить
						</a>
						
					</div>
				</div>

			</div>
		</form>
	</div>
</div>
<!--==================================================-->
<!-- Product Section End -->
<!--==================================================-->
<!--==================================================-->

<!-- Start educate call to action Area style-two -->
<!--==================================================-->
<div class="call-to-action style-two">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="call-to-title">
					<h3>Ваше обучению начинается здесь</h3>
					<h3>Узнайте про все программы</h3>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="call-to-btn">
					<a href="{% url "contact" %}">Все программы<i class="flaticon flaticon-right-arrow"></i></a>
				</div>
			</div>
		</div>
		<div class="call-to-shape31">
			<img src="{% static 'images/home-three/call-to-arrow2.png' %}" alt="shape">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate call to action Area style-two -->
<!--==================================================-->

<!--==================================================-->
<!-- start educate brand Area -->
<!--==================================================-->
<div class="brand-area style-one inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="brand-list2 owl-carousel">
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
							   <img src="{% static 'images/home-three/brand-img1.png' %}" alt="brand">
							</div>
						</div>
					</div>				    
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="{% static 'images/home-three/brand-img2.png' %}" alt="brand">
							</div>
						</div>
					</div>				   
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="{% static 'images/home-three/brand-img3.png' %}" alt="brand">
							</div>
						</div>
					</div>	
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="{% static 'images/home-three/brand-img4.png' %}" alt="brand">
							</div>
						</div>
					</div>	
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="{% static 'images/home-three/brand-img5.png' %}" alt="brand">
							</div>
						</div>
					</div>				    				    			    
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate brand Area -->
<!--==================================================-->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Оплата успешно</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Спасибо за покупку! Мы свяжемся с вами в ближайшее время.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}