{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>Контакты</h4>
					</div>
					<ul>
						<li><a href="{% url "home" %}">Главная <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>Контакты</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="breadcumb-shape">
			<img src="{% static 'images/inner-img/breadcumb-dot.png' %}" alt="dot">
		</div>
		<div class="breadcumb-shape2">
			<img src="{% static 'images/inner-img/breadcumb-ball.png' %}" alt="ball">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Consalt Contact Area Inner Page -->
<!--==================================================-->
<section class="contact_area inner_section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<!-- section title -->
				<div class="section-sub-title three">
					<h6><img src="{% static 'images/inner-img/sub-title2.png' %}" alt="icon">СВЯЖИТЕСЬ С НАМИ</h6>
				</div>
				<div class="section_title">
					<h1>Доверие гениев</h1>
					<h1>Люди с Educate</h1>
				</div>
				<div class="section-title-desc">
					<p>Навыки лидерства в сфере СМИ до кросс-медийных инноваций основная технология
						разработка стандартизированных платформ без консультаций.</p>
				</div>
				<div class="contact_main_info">
					<div class="call-do-action-info">
						<div class="call-do-social_icon">
							<i class="fas fa-phone-alt"></i>
						</div>
						<div class="call_info">
							<p>Звоните нам в любое время</p>
							<h3>{{ settings.phone }}</h3>
						</div>
					</div>
					<div class="call-do-action-info">
						<div class="call-do-social_icon">
							<i class="fas fa-envelope-open"></i>
						</div>
						<div class="call_info">
							<p>Пишите нам в любое время</p>
							<h3>{{ settings.email }}</h3>
						</div>
					</div>
					<div class="call-do-action-info">
						<div class="call-do-social_icon">
							<i class="fas fa-map-marker-alt"></i>
						</div>
						<div class="call_info">
							<p>Наша локация</p>
							<span>{{ settings.address }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<!-- contact form box -->
				<div class="contact-form-box style_two">
					<!-- section title -->
					<div class="contact-section-title">
						<h4>СВЯЖИТЕСЬ С НАМИ</h4>
						<h1>Не стесняйтесь обращаться к нам</h1>
					</div>
					<form method="POST" action="{% url 'contact' %}">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									{{ form.name.errors }}
									<input type="text" name="name" value="{{ form.name.value|default_if_none:'' }}" placeholder="Имя *" required>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									{{ form.surname.errors }}
									<input type="text" name="surname" value="{{ form.surname.value|default_if_none:'' }}" placeholder="Фамилия *" required>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									{{ form.email.errors }}
									<input type="email" name="email" value="{{ form.email.value|default_if_none:'' }}" placeholder="Email *" required>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									{{ form.phone.errors }}
									<input type="text" name="phone" value="{{ form.phone.value|default_if_none:'' }}" placeholder="Телефон *" required>
								</div>
							</div>

							<div class="col-lg-12 col-md-12">
								<div class="form-box message">
									{{ form.message.errors }}
									<textarea name="message" cols="30" rows="10" placeholder="Ваше сообщение *" required>{{ form.message.value|default_if_none:'' }}</textarea>
								</div>
							</div>

							<div class="col-12 mt-3">
								<input type="checkbox" id="agree" required>
								<label for="agree">Согласен с Условиями и положениями *</label>
							</div>

							<div class="col-12 contact-form mt-3">
								<button type="submit">Отправить сообщение</button>
							</div>
						</div>
					</form>


				</div> 
			</div>
		</div>
		<div class="contact_shape2 dance2">
			<img src="{% static 'images/inner-img/contact-shape.png' %}" alt="shape">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End Consalt Contact Area  Inner Page -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Consalt Map Area -->
<!--==================================================-->
<div class="map-section">
	<div class="-custon-container-fluid">
		<div class="row">
			<div class="col-lg-12 p-0">
				<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d730.9291795223039!2d74.5950222696032!3d42.87882298095113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDLCsDUyJzQzLjgiTiA3NMKwMzUnNDQuNCJF!5e0!3m2!1sru!2skg!4v1747738136891!5m2!1sru!2skg" width="1920" height="520" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start Consalt Map Area -->
<!--==================================================-->

{% endblock content %}