{% extends "base.html" %}

{% load static %}

{% block content %}

<!--==================================================-->
<!-- Start educate Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>events</h4>
					</div>
					<ul>
						<li><a href="index.html">Home <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>events</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="breadcumb-shape">
			<img src="assets/images/inner-img/breadcumb-dot.png" alt="dot">
		</div>
		<div class="breadcumb-shape2">
			<img src="assets/images/inner-img/breadcumb-ball.png" alt="ball">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->






<!--==================================================-->
<!-- start educate joint event area style-one -->
<!--==================================================-->
<div class="joint-event-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="joint-event-box">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="event-inner-box upper">
								<div class="joint-event-date">
									<h1>16</h1>
								</div>
								<div class="joint-event-month">
									<h5>JANUARY</h5>
									<p>2025</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="event-inner-box">
								<div class="event-content">
									<div class="event-title">
										<h3><a href="event-details.html">Business Innovation And <br>Development Conf.</a></h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="event-inner-box">
								<div class="event-location">
									<ul>
										<li><img src="assets/images/home-three/event-icon1.png" alt="icon">California, USA</li>
										<li><img src="assets/images/home-three/event-icon2.png" alt="icon">(7.00 am to 9.00 am)</li>
									</ul>
									<div class="event-thumb">
										<img src="assets/images/home-three/event-thumb2.png" alt="thumb">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="joint-event-btn">
								<a href="event-details.html">JOIN EVENTS<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="joint-event-box box-2">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="event-inner-box upper">
								<div class="joint-event-date">
									<h1>21</h1>
								</div>
								<div class="joint-event-month">
									<h5>JANUARY</h5>
									<p>2025</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="event-inner-box">
								<div class="event-content">
									<div class="event-title">
										<h3><a href="event-details.html">Career Guidance And <br>Networking event</a></h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="event-inner-box">
								<div class="event-location">
									<ul>
										<li><img src="assets/images/home-three/event-icon3.png" alt="icon">California, USA</li>
										<li><img src="assets/images/home-three/event-icon4.png" alt="icon">(7.00 am to 9.00 am)</li>
									</ul>
									<div class="event-thumb">
										<img src="assets/images/home-three/event-thumb3.png" alt="thumb">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="joint-event-btn">
								<a href="event-details.html">JOIN EVENTS<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="joint-event-box box-3">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="event-inner-box upper">
								<div class="joint-event-date">
									<h1>29</h1>
								</div>
								<div class="joint-event-month">
									<h5>JANUARY</h5>
									<p>2025</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="event-inner-box">
								<div class="event-content">
									<div class="event-title">
										<h3><a href="event-details.html">Environmental Awarness <br>Conference - 2025</a></h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="event-inner-box">
								<div class="event-location">
									<ul>
										<li><img src="assets/images/home-three/event-icon5.png" alt="icon">California, USA</li>
										<li><img src="assets/images/home-three/event-icon6.png" alt="icon">(7.00 am to 9.00 am)</li>
									</ul>
									<div class="event-thumb">
										<img src="assets/images/home-three/event-thumb2.png" alt="thumb">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="joint-event-btn">
								<a href="event-details.html">JOIN EVENTS<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="joint-event-box box-4">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="event-inner-box upper">
								<div class="joint-event-date">
									<h1>10</h1>
								</div>
								<div class="joint-event-month">
									<h5>JANUARY</h5>
									<p>2025</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="event-inner-box">
								<div class="event-content">
									<div class="event-title">
										<h3><a href="event-details.html">Global Summit Innovative <br>Teaching - 2025</a></h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="event-inner-box">
								<div class="event-location">
									<ul>
										<li><img src="assets/images/home-three/event-icon7.png" alt="icon">California, USA</li>
										<li><img src="assets/images/home-three/event-icon8.png" alt="icon">(7.00 am to 9.00 am)</li>
									</ul>
									<div class="event-thumb">
										<img src="assets/images/home-three/event-thumb3.png" alt="thumb">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="joint-event-btn">
								<a href="event-details.html">JOIN EVENTS<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- start educate  joint event area -->
<!--==================================================-->
{% endblock content %}