<!--==================================================-->
<!-- Start educate Header top area -->
<!--==================================================-->
{% load static %}
<div class="header-top-area">
	<div class="container-fluid">
		<div class="row header-top">
			<div class="col-xxl-6 col-xl-8 col-lg-8">
				<div class="header-top-welcome">
					<p><img src="{% static 'images/home-one/top-star.png' %}" alt="star">Добро пожаловать в <a href="{% url "home" %}">Educate</a>– Раскрываем силу образования!</p>
				</div>
			</div>
			<div class="col-xxl-6 col-xl-4 col-lg-4">
				<div class="header-top-right">
					<div class="educate-header-from">
						<a class="login-btn" href="{% url "login" %}"></i>Войти</a>
						<a class="sign-up-btn" href="{% url "register" %}">Зарегистрироваться</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


    <div class="educate-header-area" id="sticky-header" >
	<div class="container-fluid">
		<div class="row header-wrap align-items-center">
			<div class="col-lg-2">
				<div class="header-logo">
					<a class="active_logo" href="{% url "home" %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
					<a class="logo_two" href="{% url "home" %}"><img src="{% static 'images/footer-logo.png' %}" alt="logo"></a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="header-menu">
					<ul class="nav_scroll">
						<li><a href="{% url "home" %}">Главная</a>
						</li>
						<li><a href="{% url "about" %}">О нас</a></li>
						<li><a href="{% url "instructor" %}">Менторы</a>
						</li>	
						<li><a href="{% url "course" %}">Курсы</a>
						</li>
						<li><a href="{% url "blog" %}">Блог</a>
						</li>
						<li><a href="#">К сведению</a>
							<ul class="sub_menu"> 
								<li><a href="{% url "reviews" %}">Отзывы</a></li>	 	 			
								<li><a href="{% url "faq" %}">Вопросы \ Ответы</a></li>	 
							</ul>
						</li> 
						<li><a href="{% url "contact" %}">Контакты</a></li>
					</ul>					
				</div>
			</div>

			<div class="col-lg-4">
				<div class="header-right-wrapper">
					<div class="header-sidebar">
						<a href="{% url "cart_detail" %}">
						<button class="cart_btn headers-button" type="button">
							<i class="fa-solid fa-cart-shopping"></i>
							</a>
						</button>
						<div class="header-btn">
							<a href="{% url "contact" %}">Записаться<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

